.card {
    position: relative;
    height: rem(280px);
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.image {
    position: absolute;
    inset: 0;
    background-size: cover;
}
